block vars
  - var page_name='Digital Product Development'
  - var slug='digital'
  - var layout='full'

extends jade/layout

block index
    .row
        h1 Digital Products and Services
        h2 Coming Soon ....
    .mask