block vars
  - var page_name='Home'
  - var slug='home'
  - var layout='full'

extends jade/layout

block index
  //Header 
  section.hero
    .preloader
    ul.example-orbit-content(data-orbit, data-options='animation:slide; pause_on_hover:true; resume_on_mouseout: true; animation_speed:500; bullets:false;')
      li(data-orbit-slide='headline-1')
        .slide-1
          .row
            .large-5.columns
              h2 Elegance through innovation & design
              h5 We apply smart thinking across analysis, architecture, user experience and design to deliver engaging products that exceed user expectations.
      li(data-orbit-slide='headline-2')
        .slide-2
          .row
            .large-5.columns
              h2 We love to turn ideas into beautiful things
              h5
      li(data-orbit-slide='headline-3')
        .slide-3
          .row
            .large-5.columns
              h2
              h5
      li(data-orbit-slide='headline-4')
        .slide-4
          .row
            .large-5.columns
              h2
              h5
      li(data-orbit-slide='headline-5')
        .slide-5
          .row
            .large-5.columns
              h2
              h5
        
  include jade/indexCont