block vars
  - var page_name='Home'
  - var slug='home'
  - var layout='full'

extends jade/layout

block index
  //Header 
  section.show-for-medium-up.slideshow-wrapper
    .preloader
    ul(data-orbit, data-options='animation:fade; pause_on_hover:true; resume_on_mouseout: true; animation_speed:500; bullets:false;')
      li
        .banner
          img(src='img/featured-1.jpg', alt='slide 1')
      li
        .banner
          img(src='img/featured-2.jpg', alt='slide 2')
      li
        .banner
          img(src='img/featured-3.jpg', alt='slide 3')
      li
        .banner
          img(src='img/featured-4.jpg', alt='slide 3')
      li
        .banner
          img(src='img/featured-5.jpg', alt='slide 3')
    ul
      li
        
  include jade/indexCont