block vars
  - var page_name='Home'
  - var slug='home'
  - var layout='full'

extends jade/layout

block index
  //Header 
  section.hero
    .preloader
    ul.example-orbit-content(data-orbit, data-options='animation:fade; pause_on_hover:true; resume_on_mouseout: true; animation_speed:500; bullets:false;')
      li(data-orbit-slide='headline-1')
        .slide-1
      li(data-orbit-slide='headline-2')
        .slide-2
          .row
            .large-6.columns.banner-content
              h2 Excellence through Innovation & Design
              h5 We apply smart thinking across analysis, architecture, user experience and design to deliver engaging products that exceed user expectations.
      li(data-orbit-slide='headline-3')
        .slide-3
          .row
            .large-6.columns.banner-content
              h2 High Performance is Good Design
              h5 Doing things right the first time adds nothing to the cost of your product of service. Doing things wrong is what costs money.
  include jade/indexCont