block vars
  - var page_name='Physical Products Development'
  - var slug='physical'
  - var layout='full'

extends jade/layout

block index
    .row
        h1 Physical Products Development
        h2 Coming Soon ....
    .mask