block vars
  - var page_name='Physical Products and Goods Development'
  - var slug='physical'
  - var layout='full'

extends jade/layout

block index
  .row
    h1 Physical Products and Goods Development
    h2 Coming Soon ....