//Footer 
footer
  .involve
    .row.text-center
      h5 Interested ?
      .large-4.columns
        .button.expand Contact Sales
      .large-4.columns
        .button.expand Get a Quote
      .large-4.columns
        .button.expand Download our Brochure   
  div(style='height: 20px;')
  .row(style='text-align: center;')
    .large-4.columns
      img(src='holder.js/50x100/lava', alt='Facebook')
      h5 Visit
      | P.O.Box 69338
      br
      | Dammam
      br
      | Saudi Arabia.
      br
    .large-4.columns
      img(src='holder.js/50x100/lava', alt='Facebook')
      h5 Call
      | +96613 8060768
      br
      | +96613 8277869
      br
      | +96613 8060919
      br
    .large-4.columns
      img(src='holder.js/50x100/lava', alt='Facebook')
      h5 Contact
      | info@jonquilgroup.com
      div(style='padding: 10px 0 0 0;')
        a.footer-img(href='http://www.facebook.com/jonquilgroup')
          img(src='img/facebook.png', alt='Facebook')
        a.footer-img(href='#')
          img(src='img/twitter.png', alt='Twitter')
        a.footer-img(href='#')
          img(src='img/linkedin.png', alt='Linkedin')
        a.footer-img(href='#')
          img(src='img/googleplus.png', alt='Google +')
  .copyrights
    .row.text-center
      .large-3.large-text-left.columns
        h6 Engineered by DePhyers using  
          a.footer-img(href='#')
            img(src='img/htmlcss.png', alt='HTML5 + CSS3')
      .large-6.columns
        h6 © 2014 Design Physics & technologies llc. All Rights Reserved.
      .large-3.large-text-right.columns
        h6 Site Map | Privacy Policy | Terms of Use
  .progress
    span.meter