//Footer 
footer.text-center
  .row
    .large-4.columns
      h5 Want More?
      ul
        li About
        li Physical Product
        li Digital Products
        li Blogs
        li Our Work
    .large-4.columns
      h5 Stay in Touch
      ul
        li Facebook
        li Linkedin
        li Rss Feed

    .large-4.columns
      h5 Reach Us
      ul
        li
          a(href="info@dephytech.com") info@dephytech.com
  .copyrights
    .row
      .large-3.large-text-left.columns
        h6 Engineered by DePhyers using  
          a.footer-img(href='#')
            img(src='img/htmlcss.png', alt='HTML5 + CSS3')
      .large-6.columns
        h6 © 2014 Design Physics & technologies llc. All Rights Reserved.
      .large-3.large-text-right.columns
        h6
          a(href='termsofuse.html') Terms of Use
          |  | 
          a(href='privacypolicy.html') Privacy Policy
          |  | 
          a(href='sitemap.html') Sitemap