//Footer 
footer.text-center
  .row
    .large-4.columns
      h4 Want More?
      ul.no-bullet
        li About
        li Design
        li Physical Product
        li Digital Products
    .large-4.columns
      .small-12.columns
        h4 Stay in Touch
        img(src='img/img-social-rss.png')
      .small-6.columns.text-right
        img(src='img/img-social-fb.png')
      .small-6.columns.text-left
        img(src='img/img-social-linkedin.png')
    .large-4.columns
      h4 Reach Us
      ul
        li
          a(href="info@dephytech.com") info@dephytech.com
  .monogram
      img#logo(alt='DePhy', src='img/footer_monogram.svg')
  .copyrights
    .row
      .large-3.columns
        h6 Engineered with love by DePhyers
      .large-6.columns
        h6 © 2014 Design Physics & technologies llc. All Rights Reserved.
      .large-3.columns
        h6
          a(href='termsofuse.html') Terms of Use
          |  | 
          a(href='privacypolicy.html') Privacy Policy
