

section.background1
  .row.text-center
    .large-12.columns
      h1 Design Physics & Technologies
      h3 Assisting you in bringing improved products to the market!
      p Through better products and service design, we give life to ideas that have enduring impact. We match our clients’ business and technology demands with our outstanding talent and expertise.
    .small-6.large-3.columns
      .icon-1
      h5 Research
    .small-6.large-3.columns
      .icon-2
      h5 Design
    .small-6.large-3.columns
      .icon-3
      h5 Engineering
    .small-6.large-3.columns
      .icon-4
      h5 Development
section.background2  
  .row
    .large-6.columns
    .large-6.columns
      #level
      #content
        #gears
          #gears-static
          #gear-system-1
            #shadow15.shadow
            #gear15
            #shadow14.shadow
            #gear14
            #shadow13.shadow
            #gear13
          #gear-system-2
            #shadow10.shadow
            #gear10
            #shadow3.shadow
            #gear3
          #gear-system-3
            #shadow9.shadow
            #gear9
            #shadow7.shadow
            #gear7
          #gear-system-4
            #shadow6.shadow
            #gear6
            #gear4
          #gear-system-5
            #shadow12.shadow
            #gear12
            #shadow11.shadow
            #gear11
            #shadow8.shadow
            #gear8
          #shadow1.shadow
          #gear1
          #gear-system-6
            #shadow5.shadow
            #gear5
            #gear2
          #shadowweight.shadow
          #chain-circle
          #chain
          #weight
section.background4
  .row
    p lorem ipsum dolores set amit
section.background5
  .row
    .small-12.large-10.small-centered.columns
      .panel.text-center
        h1 Web Design Section
        p Whether you’re a beginner or an experienced website builder, LightCMS was created with you in mind. Simple, intuitive CMS controls make it easy for anyone to build and manage a website.
section.background4
  .row
    p lorem ipsum dolores set amit
section.background3
  .row
    .small-12.large-10.small-centered.columns
      .panel.text-center
        h1 Custom Design for Everyone
        p Whether you’re a beginner or an experienced website builder, LightCMS was created with you in mind. Simple, intuitive CMS controls make it easy for anyone to build and manage a website.
section.background4
  .row
    p lorem ipsum dolores set amit
section.involve
  .row.text-center
    h2 Interested, Want to know more?
    p 
      | We are a team of curious professionals, and we are eager to know about you too and help you no matter your challenge or industry. Let's get started ...
    a.button(href='contact.html') Get in Touch
    