

.background4
  .row.text-center
    .large-12.columns
      h1 Assisting you create better ideas to life
      p Through better products and service design, we give life to results that have enduring impact. We match our clients’ business and technology demands with our outstanding talent and expertise.
    .large-6.columns
      h2 Facilitators of your vision.
      p What we do differently at Prime is listen to our clients. Our job is to facilitate your vision and bring your project to life. Your finished project is something to be proud of and an asset to your business.
    .large-6.columns
      h2 Smart People Collaborative Teams
      p We develop beautifully designed software in demanding, fast-moving environments where Agile delivery and exceptional quality are paramount.
.background2  
  .row
    .large-6.columns
    .large-6.columns
      #level
      #content
        #gears
          #gears-static
          #gear-system-1
            #shadow15.shadow
            #gear15
            #shadow14.shadow
            #gear14
            #shadow13.shadow
            #gear13
          #gear-system-2
            #shadow10.shadow
            #gear10
            #shadow3.shadow
            #gear3
          #gear-system-3
            #shadow9.shadow
            #gear9
            #shadow7.shadow
            #gear7
          #gear-system-4
            #shadow6.shadow
            #gear6
            #gear4
          #gear-system-5
            #shadow12.shadow
            #gear12
            #shadow11.shadow
            #gear11
            #shadow8.shadow
            #gear8
          #shadow1.shadow
          #gear1
          #gear-system-6
            #shadow5.shadow
            #gear5
            #gear2
          #shadowweight.shadow
          #chain-circle
          #chain
          #weight
.background4
  .row
    p lorem ipsum dolores set amit
.background5
  .row
    .small-12.large-10.small-centered.columns
      .panel.text-center
        h1 Web Design Section
        p Whether you’re a beginner or an experienced website builder, LightCMS was created with you in mind. Simple, intuitive CMS controls make it easy for anyone to build and manage a website.
.background4
  .row
    p lorem ipsum dolores set amit
.background3
  .row
    .small-12.large-10.small-centered.columns
      .panel.text-center
        h1 Custom Design for Everyone
        p Whether you’re a beginner or an experienced website builder, LightCMS was created with you in mind. Simple, intuitive CMS controls make it easy for anyone to build and manage a website.
.background4
  .row
    p lorem ipsum dolores set amit
.involve
  .row.text-center
    h3 Curios, Want to know more?
    p 
      | We are too a team of curious professionals, eager to help you no matter your challenge or industry. Let's get started
    .large-4.columns
      a.button.expand(href='newsletter.html') SignUp for Email Updates
    .large-4.columns
      a.button.expand(href='contact.html') Get in Touch
    .large-4.columns
      a.button.expand(href='img/brochure.pdf') Check Out our Media