
.background1
  .row
    .large-12.columns.panel(data-equalizer='data-equalizer', data-options='equalize_on_stack: false')
      h3 Providing Services with Excellence
      p
        | JONQUIL Group was established in 2001 and encompasses Muneer Al Zahir Est. and Jawahir Ali Al Zahir Est., and we are a leading provider of construction and support services in the kingdom.  We work with organizations and government agencies across broad range of sectors to deliver assets and services that our customers consider vital to their activities. Our aim is to provide you with services that are cost-effective and enhances your capabilities...
        a.jq_button.right.info(href='philosophy.html') Read More
      p
        strong Our Divisions are:

.background2  
  .row
    .large-4.columns
      .panel(data-equalizer-watch='data-equalizer-watch')
        h4.text-center Construction & Engineering Division
        img(src='img/munir.jpg', alt='Construction & Engineering Division.')
        hr
        p
          | This is our Engineering and Contracting Services division, specialized in Building & Infrastructure construction services, Electrical Works,  Excavation & Underground Construction Services. Our team of construction professionals offers a single-source solution for all of your construction-related needs.
        p
          | We support our clients from project inception, to the commissioning of the fully operational facility on schedule and within budget.
        a.panel_button(href='construction.html') Read More
    .large-4.columns
      .panel(data-equalizer-watch='data-equalizer-watch')
        h4.text-center Industrial Supplies & Trading Division
        img(src='img/jawahir.jpg', alt='Industrial Supplies & Trading Division.')
        hr
        p
          | This is our Industrial Supplies and Trading division, specialized in agile delivery of industrial supplies and products with highest quality and reliability that meets ur needs. We make constant effort to improve our portfolio to deliver maximum value to our customers.
        p
          | Our strength is our ability to source from across the globe efficiently and effectively. Our team of qualified and dedicated application engineers would give a much needed insights on your requirements.
        a.panel_button(href='trading.html') Read More
    .large-4.columns
      .panel(data-equalizer-watch='data-equalizer-watch')
        h4.text-center Interior Designing & Home Decor
        img(src='img/interior.jpg', alt='Interior Designing & Home Decor.')
        hr
        p
          strong Jonquil Interiors
          | , part of the Jonquil Group, is one of the leading Interior Designing & Home Decor services in the Kingdom. We offer a variety of design services, ranging from Full Service Interior Design and Styling, which are executed beautifuly with custom tailored services.
        p
          | We value our relationships with our clients and do our best to learn about your lifestyle, tastes, and needs in order to develop a comprehensive plan suited to your project.
        a.panel_button(href='interior.html') Read More
.background4
  .row
    p lorem ipsum dolores set amit
.background3
  .row
    .small-12.large-10.small-centered.columns
      .panel.text-center
        h1 Custom Design for Everyone
        p Whether you’re a beginner or an experienced website builder, LightCMS was created with you in mind. Simple, intuitive CMS controls make it easy for anyone to build and manage a website.
.background4
  .row
    p lorem ipsum dolores set amit
.involve
  .row.text-center
    h3 Still Curios and want to know more?
    p 
      | We are curious folks too and we believe curiosity is what drives us forward. Send us any questions about         ---------     "do the buttons like pronto web services."
    .large-4.columns
      .button.expand Send Us a Message
    .large-4.columns
      .button.expand Email Newsletters
    .large-4.columns
      .button.expand Download Brochure   