
.background1
  .row
    .large-12.columns.panel(data-equalizer='data-equalizer', data-options='equalize_on_stack: false')
      h1 Design Physics & Technologies

.background4
  .row
    .large-6.columns
      p lorem ipsum dolores set amit
    .large-6.columns
      p lorem ipsum dolores set amit
.background2  
  .row
    .large-6.columns
    .large-6.columns
      #level
      #content
        #gears
          #gears-static
          #gear-system-1
            #shadow15.shadow
            #gear15
            #shadow14.shadow
            #gear14
            #shadow13.shadow
            #gear13
          #gear-system-2
            #shadow10.shadow
            #gear10
            #shadow3.shadow
            #gear3
          #gear-system-3
            #shadow9.shadow
            #gear9
            #shadow7.shadow
            #gear7
          #gear-system-4
            #shadow6.shadow
            #gear6
            #gear4
          #gear-system-5
            #shadow12.shadow
            #gear12
            #shadow11.shadow
            #gear11
            #shadow8.shadow
            #gear8
          #shadow1.shadow
          #gear1
          #gear-system-6
            #shadow5.shadow
            #gear5
            #gear2
          #shadowweight.shadow
          #chain-circle
          #chain
          #weight
.background4
  .row
    p lorem ipsum dolores set amit
.background3
  .row
    .small-12.large-10.small-centered.columns
      .panel.text-center
        h1 Custom Design for Everyone
        p Whether you’re a beginner or an experienced website builder, LightCMS was created with you in mind. Simple, intuitive CMS controls make it easy for anyone to build and manage a website.
.background4
  .row
    p lorem ipsum dolores set amit
.involve
  .row.text-center
    h3 Curios, Want to know more?
    p 
      | We are too a team of curious professionals, eager to help you no matter your challenge or industry. Let's get started
    .large-4.columns
      a.button.expand(href='newsletter.html') SignUp for Email Updates
    .large-4.columns
      a.button.expand(href='contact.html') Get in Touch
    .large-4.columns
      a.button.expand(href='img/brochure.pdf') Check Out our Media  