block vars
  - var page_name='Privacy Policy'
  - var slug='privacypolicy'
  - var layout='full'

extends partials/layout

block index
    .pageContent
        .row
            h2 Privacy Terms and Policies

            .paraHeader Personal Details Use of Personal Data :
            p We collect personal data from you (the user), when you voluntarily choose to register with DePhytech. We use the personal data that we collect in order to provide and improve our services, and as otherwise set forth in this Privacy Policy and in any applicable service-specific agreement, such as the Terms and Conditions for Publishers or the Terms and Conditions for Advertisers. Examples of personal data include first name, last name, address, email address, telephone number, birth date, billing and credit card information. DePhytech uses the personal data you provide in a manner that is consistent with this Privacy Policy or with any applicable service-specific agreement. If you provide personal data for a certain reason, we may use the personal data in connection with the reason for which it was provided. For instance, we will use the personal data you input during the registration process to administer access to the Site. DePhytech also uses your personal data and other personally non-identifiable information collected through the Site to help us improve the content and functionality of the Site, to better understand the users of our Site, and to improve our services.

            .paraHeader Basic Non-Identifiable Information :
            p We may collect personally non-identifiable information from you at the time of registration, or when you choose to use certain of our services. This information is not, by itself, sufficient to identify or contact you. Examples include demographic data, age, education level, profession or gender. DePhytech may use such information and pool it with other information to track, for example, the total number of visitors to our site and the domain names of our visitors' Internet service providers. It is important to note that no personal data is available or used in this process.

            .paraHeader Discretion Agreement :
            p In compliance with the Non-Disclosure Agreement, DePhytech keeps all the information, regarding your custom application or mobile website development process, strictly confidential. Such information may include the central idea, strategy, features, functionalities, custom price quote and other related components of your project. It is mandatory for all our customers to sign a Non-Disclosure Agreement with us before starting their application development process. We also request our customers to keep such information as confidential and limit disclosure to any officers, employees, third party agents or individuals who are not directly connected to your project.

            .paraHeader Passively Collected Information :
            p When you interact with us through the Site, we receive and store certain additional personally non-identifiable information. Such information, which is collected passively using various technologies, cannot presently be used to specifically identify you. Examples include IP addresses, browser types, domain names, and other anonymous statistical data involving your use of the Site and/or our services.

            .paraHeader Usage of Cookies :
            p In operating this Site, we may use a technology called "cookies." A cookie is a piece of information that the computer that hosts our Site gives to your computer when you access a website. Our cookies help provide additional functionality to the Site and help us analyze Site usage more accurately. The use of cookies by our partners, affiliates, tracking utility company, service providers is not covered by our privacy statement. We do not have access or control over these cookies. Our partners, affiliates, tracking utility company, service providers use session ID cookies to make it easier for you to navigate our site.

            .paraHeader External Website Links :
            p Our Site includes links to other Web sites whose privacy practices may differ from those of ours. If you submit personal information to any of those sites, your information is governed by their privacy statements. We encourage you to carefully read the privacy statement of any Web site you visit.

            .paraHeader Data Protection & Security :
            p We take commercially reasonable steps to protect Personal data provided to this Site and to protect such information from loss, misuse, and unauthorized access, disclosure, alteration, or destruction. However, no Internet or e-mail transmission is ever fully secure or error free. In particular, e-mail sent to or from this Site may not be secure, and you should therefore take special care in deciding what information you send to us via e-mail.

            .paraHeader Notification of the Changes in Privacy Policy :
            p If we decide to change our privacy policy, we will post those changes to this privacy statement, the homepage, and other places we deem appropriate so that you are aware of what information we collect, how we use it, and under what circumstances, if any, we disclose it. We reserve the right to modify this privacy statement at any time, so please review it frequently. If we make material changes to this policy, we will notify you here, by email, or by means of a notice on our homepage before the change takes effect .

            .paraHeader Withdrawal Policy :
            p If, at any time after registering, you change your mind about receiving information from us or about the use of information volunteered by you, please send us a request specifying your new choice. Please contact us as specified below .

            .paraHeader Contact Us :
            p Please contact us if you have any questions about this Privacy Policy or the information practices of DePhytech with respect to personal data collected from this Site. You may contact us by calling us on our toll-free number 1-877-699-0471 or by emailing us at info@dephytech.com