//- Top Bar 
.contain-to-grid.header-section
  nav.contain-to-grid.top-bar.important-class(data-topbar, role='navigation', data-options)
    ul.title-area
      li.name
        a(href='index.html')
          img#logo-image(alt='DePhy tech', src='img/logo-1.png')
      li.toggle-topbar.menu-icon
        a
          span
    div.top-bar-section
      ul.right
        li(class=(slug === 'home') ? 'active' : '')
          a(href='index.html') Home
        li
          a(href='#') About Us
        li
          a(href='#') Activities
        li(class=(slug === 'partners') ? 'active' : '')
          a(href='partner.html') Partners
        li
          a(href='contact.html') Contact Us
.header-fill
